@font-face {
    font-family:'Nikumaru';
    src: url(/jankencard/assets/fonts/nikumaru.otf);
}

:root{
    --white: #d6f2d7;
    --blue: #071a50;

    /* Sombras */
    --main-shadow: 10px 10px #071a5060;

    /* Cards */
    --card-radius: 15px;
    --card-padding: 15px;

    /* Colores de cards */
    --card-yellow-a: #f2d785;
    --card-yellow-b: #ce8d2d;

    --card-red-a: #ff7c48;
    --card-red-b: #ba2626;

    --card-blue-a: #57698e;
    --card-blue-b: #393459;

    --card-pink-a: #ffb091;
    --card-pink-b: #d34c41;

    --card-sky-a: #9ac8cb;
    --card-sky-b: #709aa3;

    --card-gray-a: #8b7f7a;
    --card-gray-b: #6c5855;

    --card-green-a: #8c9f80;
    --card-green-b: #5f856f;

    --card-purple-a: #918ac0;
    --card-purple-b: #57698e;
}

*{
    box-sizing: border-box;
    font-family: 'Nikumaru', sans-serif;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

html,body{
    min-height: 100%;
    width: 100%;
    margin: 0;
    color: var(--white);
}

html{
    background-color: #4cbcf8;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-row-gap: 30px;
    overflow-x: hidden;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
    min-height: 100vh;
}

.fade-in{
    opacity: 1!important;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #4cbcf8;
}

.card{
    position: relative;
    display: grid;
    grid-template-rows: auto max-content;
    width: 480px;
    height: 680px;
    border-radius: var(--card-radius);
    padding: var(--card-padding);
    margin: 0px 20px;
    background-color: var(--white);
    transition: transform 0.2s ease-in-out;
}

.card .text{
    position: relative;
    z-index: 1;
}

.card .text::before {
    content: attr(data-text);
}

.card .text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    z-index: -1;
    -webkit-text-stroke: 6px var(--white);
    font-size: 1em;
}

.card > .background{
    position: absolute;
    top: var(--card-padding);
    left: var(--card-padding);
    bottom: var(--card-padding);
    right: var(--card-padding);
    border-radius: var(--card-radius);
    transition: background-color .2s ease-in-out;
    overflow: hidden;
}

.card > .background > .mask{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.card > .content{
    position: relative;
    display: grid;
    grid-template-rows: max-content auto;
    padding: var(--card-padding);
    color: var(--blue);
}

.card > .content > .header{
    display: grid;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
    grid-auto-rows: max-content;
}

.card > .content > .header > .name{
    display: grid;
    justify-items: center;
    position: relative;
    font-size: 4em;
    z-index: 99;
}

.card > .content > .header > .name > *{
    font-size: inherit;
    text-align: center;
}

.card > .content > .header > .name > input{
    background-color: transparent;
    border: none;
    color: transparent;
    caret-color: var(--blue);
    width: 80%;
    z-index: 2;
}

.card > .content > .header > .name > input:focus{
    outline: none;
}

.card > .content > .header > .name > span{
    position: absolute;
    margin-top: 3px;
    pointer-events: none;
    width: max-content;
    
}

.card > .content > .header > .team{
    font-size: 2.2em;
}

.card > .content > .body{}

.card > .content > .body > .character{
    position: absolute;
    z-index: 2;
    pointer-events: none;
    user-select: none;
}

.card > .footer{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    position: relative;
    height: 76px;
    background-color: var(--card-yellow-b);
    padding: 0px 20px;
    z-index: 1;
    border-radius: 0px 0px var(--card-radius) var(--card-radius);
    transition: background-color 0.2s ease-in-out;
    pointer-events: none;
    user-select: none;
    background-color: transparent!important;
}

.card > .footer > .ranking{
    color: var(--blue);
    font-size: 2em;
}

.card > .footer > .ql-points{
    display: grid;
    justify-content: flex-end;
    align-items: center;
    width: 155px;
    height: 51px;
    padding-right: 15px;
    color: var(--blue);
    font-size: 1.5em;
}

.card > .border{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: var(--card-padding) solid var(--white);
    border-radius: var(--card-radius);
    pointer-events: none;
}

@media (max-width: 540px) {
    .card{
        transform: scale(.7);
    }
}

@media (max-width: 380px) {
    .card{
        transform: scale(.6);
    }
}

/* Actions */
.actions{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.button{
    display: grid;
    padding: var(--card-padding) 50px;
    background-color: var(--blue);
    border: 4px solid var(--white);
    border-bottom: none;
    border-radius: var(--card-padding) var(--card-radius) 0px 0px;
    cursor: pointer;
    user-select: none;
}